.wrapper.maintenance {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("/image/bg_maintenance.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
}
.wrapper.maintenance .img-main {
  width: 450px;
  max-width: 95%;
}
.wrapper.maintenance .img-main img {
  width: 100%;
}

.left-navigation .left-logout-row {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 2;
}
.left-navigation .left-logout {
  display: flex;
  cursor: pointer;
  padding: 20px;
  text-decoration: none;
}
.left-navigation .left-logout img {
  width: 38px;
  height: 30px;
}
.left-navigation .left-logout span {
  color: #fff;
  font-size: 27px;
  line-height: 1;
  padding-left: 15px;
}
.left-navigation .navigation ul li.active > a {
  background: #00b0f0;
  color: #fff;
}

.btn-export {
  background: #00b050;
  color: #fff;
}
.btn-export img {
  width: 24px;
  position: relative;
  top: -3px;
}

@media (min-width: 576px) {
  .modal-dialog.modal-large {
    max-width: 675px;
  }
}
.modal-content .row-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.modal-content .row-group input {
  width: 60%;
  background: #fff;
  border-width: 2px;
}

.form-verify-identity {
  display: flex;
  text-align: center;
}
.form-verify-identity .box {
  width: 50%;
}
.form-verify-identity .box .box-image {
  width: 80%;
  height: 200px;
  border: 1px solid #e3e3e3;
  margin: auto;
  border-radius: 7px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
.form-verify-identity .box span {
  display: block;
  padding: 10px 0;
}

.modal-content .content-footer {
  text-align: center;
  margin-top: 12px;
}
.modal-content .content-footer .btn {
  padding: 0.375rem 32px;
}

.list-left-menu-ul .menu-icon {
  width: 27px;
  margin-right: 8px;
  position: relative;
  top: -4px;
}

.box-edit-info {
  width: 100%;
  max-width: 550px;
  color: #495057;
  margin: 30px auto auto;
}
.box-edit-info .btn-submit {
  padding: 0.375rem 22px;
}

.settings-display {
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.multi-steps {
  width: 100%;
  max-width: 580px;
  margin: auto;
}
.multi-steps .step {
  text-align: center;
  color: #fff;
  display: none;
}
.multi-steps .step.active {
  display: block;
}
.multi-steps .step-1 .box-info-verify {
  border: 2px solid #dbad27;
  border-radius: 7px;
}
.multi-steps .step-1 .box-images {
  width: 40%;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 30px 15px;
}

.box-setting {
  color: #fff;
  border-radius: 12px;
  border: 2px solid #d4a412;
  width: 100%;
  max-width: 850px;
  margin: auto;
}
.box-setting .heading {
  text-align: center;
}
.box-setting .input-number-setting {
  width: 70px;
}
.box-setting .box-info-setting span {
  line-height: 2;
  margin-right: 10px;
}

.banner-top {
  border-radius: 14px;
  overflow: hidden;
}
.banner-top .overlay-daily-mission {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(103, 172, 179, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-top .overlay-daily-mission h3 {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.banner-top .overlay-daily-mission .close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  width: 40px;
  cursor: pointer;
}

.area-advertisement.area-advertisement-top {
  height: 540px;
  max-height: 540px;
  min-height: 540px;
  overflow: hidden;
  border: 1px solid #0b2e13;
  padding: 15px;
  border-radius: 14px;
  background: #fff;
}
.area-advertisement.area-advertisement-body {
  overflow: hidden;
  border-radius: 14px;
}

.box-money {
  margin-bottom: 5px !important;
}
.box-money.money-invest {
  background-image: url("/image/adm/wallet_bg.png");
}
.box-money.money-wallet {
  background-image: url("/image/adm/wallet_bg.png");
}
.box-money.money-profit {
  background-image: url("/image/adm/profit_bg.png");
}
.box-money.money-ib {
  background-image: url("/image/adm/bonus_bg.png");
}

.area-investment .invest-title {
  color: #c00000;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
}
.area-investment .investment-plan {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.area-investment .investment-plan .invest-box {
  width: calc(25% - 20px);
  max-width: 350px;
  text-align: center;
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 10px 1.75rem;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 991px) {
  .area-investment .investment-plan .invest-box {
    width: calc(50% - 20px);
  }
}
@media (max-width: 575px) {
  .area-investment .investment-plan .invest-box {
    width: calc(100% - 20px);
  }
}
.area-investment .investment-plan .invest-box h5 {
  text-align: center;
  color: #fff;
  padding: 1.25rem 0;
  font-weight: bold;
  margin-bottom: 0;
}
.area-investment .investment-plan .invest-box ul {
  list-style: none;
  margin-bottom: 0;
  position: absolute;
  bottom: 35%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 50%);
}
.area-investment .investment-plan .invest-box .btn {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.area-investment .investment-plan .invest-box.invest-box-bronze {
  background-image: url("/image/adm/investment_1.png");
}
.area-investment .investment-plan .invest-box.invest-box-silver {
  background-image: url("/image/adm/investment_2.png");
}
.area-investment .investment-plan .invest-box.invest-box-gold {
  background-image: url("/image/adm/investment_3.png");
}
.area-investment .investment-plan .invest-box.invest-box-platinum {
  background-image: url("/image/adm/investment_4.png");
}

.btn-buy-investment--bronze {
  background: rgb(5, 167, 255);
  background: linear-gradient(180deg, rgb(5, 167, 255) 0%, rgb(0, 96, 161) 100%);
}
.btn-buy-investment--silver {
  background: rgb(255, 211, 43);
  background: linear-gradient(180deg, rgb(255, 211, 43) 0%, rgb(161, 117, 0) 100%);
}
.btn-buy-investment--gold {
  background: rgb(206, 0, 0);
  background: linear-gradient(180deg, rgb(206, 0, 0) 0%, rgb(121, 0, 0) 100%);
}
.btn-buy-investment--platinum {
  background: rgb(146, 217, 70);
  background: linear-gradient(180deg, rgb(146, 217, 70) 0%, rgb(84, 127, 38) 100%);
}

.user-profile-card .area-qr-code {
  max-width: 50%;
  width: 550px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 30px;
}
@media (max-width: 991px) {
  .user-profile-card .area-qr-code {
    max-width: 100%;
    padding: 15px;
  }
}
.user-profile-card .area-qr-code .title-qr {
  font-size: 20px;
}
.user-profile-card .area-qr-code .box-qr {
  padding: 10px 0;
}
.user-profile-card .area-qr-code p {
  word-break: break-word;
}

.menu-inline-blue ul {
  list-style: none;
  margin-bottom: 0;
}
.menu-inline-blue ul li {
  display: inline-block;
}
.menu-inline-blue ul li a {
  display: flex;
  padding: 8px 12px;
  border: 2px solid #16a3fe;
  text-decoration: none;
  border-radius: 7px;
  transition: ease-in-out 0.2s;
}
.menu-inline-blue ul li a:not(.active):hover, .menu-inline-blue ul li a.active-bg, .menu-inline-blue ul li a.active {
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2) 49%, rgba(0, 0, 0, 0.15) 51%, rgba(0, 0, 0, 0.05));
}
.menu-inline-blue ul li a:not(.active):hover, .menu-inline-blue ul li a.active-bg {
  background-color: #16a3fe;
}
.menu-inline-blue ul li a.active {
  background-color: #00b050;
}
.menu-inline-blue ul li img {
  width: 24px;
  margin-right: 4px;
}

.input-canable-copy {
  position: relative;
}
.input-canable-copy input {
  padding-right: 42px;
  background: none;
}
.input-canable-copy button {
  width: 32px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 3px;
  right: 2px;
}

.content .small-box {
  width: 100%;
  max-width: 650px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  background: #fff;
  margin-top: 1.25rem;
}

.content-setting .setting--box {
  border-radius: 14px;
  padding: 15px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  margin-top: 1.75rem;
  background-color: rgba(255, 255, 255, 0.7);
}
.content-setting .setting--box .box-info {
  background-color: #f2f4f5;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 14px;
}
.content-setting .setting--box .box-info .box-avatar--img {
  border-radius: 50%;
  overflow: hidden;
  background: #1a202c;
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-setting .setting--box .box-info h3 {
  color: #d30808;
  margin-top: 0.75rem;
  word-break: break-word;
}
.content-setting .setting--box .row-upload-image {
  display: flex;
  justify-content: center;
}
.content-setting .setting--box .row-upload-image .box-upload {
  text-align: center;
  background-color: #a8caea;
  border-radius: 14px;
  border: 2px solid #fbc00a;
  margin: 4px;
  padding: 8px;
  width: calc(50% - 8px);
  max-width: 350px;
}

.menu-header ul {
  padding-left: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-header ul li {
  margin: 4px;
}
@media (max-width: 991px) {
  .menu-header {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 300px;
    width: 100vw;
    height: 100vh;
    background: rgba(239, 246, 255, 0.9);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    transform: translateX(110%);
  }
  .menu-header.show {
    transform: translateX(0);
  }
  .menu-header ul {
    flex-direction: column;
    align-items: center;
  }
  .menu-header ul li {
    width: 100%;
    max-width: 250px;
  }
  .menu-header .close-menu-icon {
    text-align: right;
  }
  .menu-header .close-menu-icon .icon {
    display: inline-block;
    width: 54px;
    padding: 10px;
    cursor: pointer;
  }
}

.alertify.alertify--success .ajs-header {
  color: #155724;
  background-color: #d4edda;
}
.alertify.alertify--danger .ajs-header {
  color: #721c24;
  background-color: #f8d7da;
}
.alertify .ajs-button {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2) 49%, rgba(0, 0, 0, 0.15) 51%, rgba(0, 0, 0, 0.05));
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #6c757d;
}
.alertify .ajs-button:focus {
  outline: none;
  box-shadow: initial;
}

.form-radius {
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  padding: 0 15px 15px;
}

.table-mini-size td,
.table-mini-size th {
  padding: 0.25rem;
}
