.wrapper.maintenance {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("/image/bg_maintenance.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;
    align-items: center;

    .img-main {
        width: 450px;
        max-width: 95%;

        img {
            width: 100%;
        }
    }
}

.left-navigation {
    .left-logout-row {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        z-index: 2;
    }

    .left-logout {
        display: flex;
        cursor: pointer;
        padding: 20px;
        text-decoration: none;

        img {
            width: 38px;
            height: 30px;
        }

        span {
            color: #fff;
            font-size: 27px;
            line-height: 1;
            padding-left: 15px;
        }
    }

    .navigation ul li.active > a {
        background: #00b0f0;
        color: #fff;
    }
}

.btn-export {
    background: #00b050;
    color: #fff;

    img {
        width: 24px;
        position: relative;
        top: -3px;
    }
}

@media (min-width: 576px) {
    .modal-dialog.modal-large {
        max-width: 675px;
    }
}

.modal-content .row-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    input {
        width: 60%;
        background: #fff;
        border-width: 2px;
    }
}

.form-verify-identity {
    display: flex;
    text-align: center;

    .box {
        width: 50%;

        .box-image {
            width: 80%;
            height: 200px;
            border: 1px solid #e3e3e3;
            margin: auto;
            border-radius: 7px;
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
        }

        span {
            display: block;
            padding: 10px 0;
        }
    }
}


.modal-content .content-footer {
    text-align: center;
    margin-top: 12px;

    .btn {
        padding: .375rem 32px;
    }
}

.list-left-menu-ul .menu-icon {
    width: 27px;
    margin-right: 8px;
    position: relative;
    top: -4px;
}

.box-edit-info {
    width: 100%;
    max-width: 550px;
    color: #495057;
    margin: 30px auto auto;

    .btn-submit {
        padding: .375rem 22px;
    }
}

.settings-display {
    margin-bottom: 30px;
}

.multi-steps {
    width: 100%;
    max-width: 580px;
    margin: auto;

    .step {
        text-align: center;
        color: #fff;
        display: none;

        &.active {
            display: block;
        }
    }

    .step-1 {
        .box-info-verify {
            border: 2px solid #dbad27;
            border-radius: 7px;
        }

        .box-images {
            width: 40%;
            margin: auto;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            padding: 30px 15px;
        }
    }
}

.box-setting {
    color: #fff;
    border-radius: 12px;
    border: 2px solid #d4a412;
    width: 100%;
    max-width: 850px;
    margin: auto;

    .heading {
        text-align: center;
    }

    .input-number-setting {
        width: 70px;
    }

    .box-info-setting span {
        line-height: 2;
        margin-right: 10px;
    }
}

.banner-top {
    border-radius: 14px;
    overflow: hidden;
}

.area-advertisement {
    &.area-advertisement-top {
        height: 540px;
        max-height: 540px;
        min-height: 540px;
        overflow: hidden;
        border: 1px solid #0b2e13;
        padding: 15px;
        border-radius: 14px;
        background: #fff;
    }

    &.area-advertisement-body {
        overflow: hidden;
        border-radius: 14px;
    }
}

$bgBoxMoney: (
    "invest": "wallet_bg.png",
    "wallet": "wallet_bg.png",
    "profit": "profit_bg.png",
    "ib": "bonus_bg.png"
);

@each $type, $icon in $bgBoxMoney {
    .box-money.money-#{$type} {
        background-image: url("/image/adm/#{$icon}");
    }
}

$bgInvestBox: (
    "bronze": "investment_1.png",
    "silver": "investment_2.png",
    "gold": "investment_3.png",
    "platinum": "investment_4.png"
);

.area-investment {
    .invest-title {
        color: #c00000;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
        text-align: center;
        font-weight: bold;
    }

    .investment-plan {
        display: flex;
        justify-content: center;

        .invest-box {
            width: calc(100% / 4 - 20px);
            max-width: 350px;
            text-align: center;
            min-height: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 10px 10px 1.75rem;
            border-radius: 10px;
            position: relative;

            h5 {
                text-align: center;
                color: #fff;
                padding: 1.25rem 0;
                font-weight: bold;
                margin-bottom: 0;
            }

            ul {
                list-style: none;
                margin-bottom: 0;
                position: absolute;
                bottom: 35%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, 50%);
            }

            .btn {
                color: #fff;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
            }

            @each $type, $icon in $bgInvestBox {
                &.invest-box-#{$type} {
                    background-image: url("/image/adm/#{$icon}");
                }
            }

            &.invest-box-bronze .btn {
                background: rgb(5, 167, 255);
                background: linear-gradient(180deg, rgba(5, 167, 255, 1) 0%, rgba(0, 96, 161, 1) 100%);
            }

            &.invest-box-silver .btn {
                background: rgb(255, 211, 43);
                background: linear-gradient(180deg, rgba(255, 211, 43, 1) 0%, rgba(161, 117, 0, 1) 100%);
            }

            &.invest-box-gold .btn {
                background: rgb(206, 0, 0);
                background: linear-gradient(180deg, rgba(206, 0, 0, 1) 0%, rgba(121, 0, 0, 1) 100%);
            }

            &.invest-box-platinum .btn {
                background: rgb(146, 217, 70);
                background: linear-gradient(180deg, rgba(146, 217, 70, 1) 0%, rgba(84, 127, 38, 1) 100%);
            }
        }
    }
}

.user-profile-card {
    .area-qr-code {
        max-width: 30%;
        width: 350px;
        background: #fff;
        border-radius: 14px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        padding: 30px;

        .title-qr {
            font-size: 20px;
        }

        .box-qr {
            padding: 10px 0;
        }
    }
}

.menu-inline-blue {
    ul {
        list-style: none;
        margin-bottom: 0;

        li {
            display: inline-block;

            a {
                display: flex;
                padding: 8px 12px;
                border: 2px solid #16a3fe;
                text-decoration: none;
                border-radius: 7px;
                transition: ease-in-out .2s;

                &:not(.active):hover,
                &.active-bg,
                &.active {
                    color: #fff;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2) 49%, rgba(0, 0, 0, 0.15) 51%, rgba(0, 0, 0, 0.05));
                }

                &:not(.active):hover,
                &.active-bg {
                    background-color: #16a3fe;
                }

                &.active {
                    background-color: #00b050;
                }
            }

            img {
                width: 24px;
                margin-right: 4px;
            }
        }
    }
}

.input-canable-copy {
    position: relative;

    input {
        padding-right: 42px;
        background: none;
    }

    button {
        width: 32px;
        border: none;
        background: none;
        cursor: pointer;
        outline: none;
        position: absolute;
        top: 3px;
        right: 2px;
    }
}

.content {
    .small-box {
        width: 100%;
        max-width: 650px;
        padding: 20px;
        border-radius: 7px;
        box-shadow: 0 0 4px 1px rgb(0 0 0 / 20%);
        background: #fff;
        margin-top: 1.25rem;
    }
}

.content-setting {
    .setting--box {
        border-radius: 14px;
        padding: 15px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
        margin-top: 1.75rem;
        background-color: rgba(255, 255, 255, 0.7);

        .box-info {
            background-color: #f2f4f5;
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
            padding: 15px;
            border-radius: 14px;

            .box-avatar--img {
                border-radius: 50%;
                overflow: hidden;
                background: #1a202c;
                width: 150px;
                height: 150px;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            h3 {
                color: #d30808;
                margin-top: 0.75rem;
            }
        }

        .row-upload-image {
            display: flex;
            justify-content: center;

            .box-upload {
                text-align: center;
                background-color: #a8caea;
                border-radius: 14px;
                border: 2px solid #fbc00a;
                margin: 4px;
                padding: 8px;
                width: calc(100% / 2 - 8px);
                max-width: 350px;
            }
        }
    }
}

.menu-header {
    ul {
        padding-left: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            margin: 4px;
        }
    }
}
